<<<<<<< HEAD
body {
    color: white;
    background-color: #333;
    font-size: 150%;
    font-family: 'Satisfy', cursive;
    margin: 5em 25%;
  }
=======
body{
    color:white;
    background-color: black;
}
>>>>>>> 3d83c5989ca0283324251a001d882ff091dd5979
